<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/newproyect.css">
    <title>Nuevo Proyecto</title>
</head>
<body>
	
	<div class="contenedor"> 
		<h1>Proyecto Nuevo</h1>
		
            <form action="/newproyect" method="POST" enctype="multipart/form-data">
		
		    <label for="nombre_proyecto">Nombre del Proyecto:</label>
		    <input type="text" id="nombre_proyecto" name="nombre_proyecto" ><br><br>

		    <label for="foto">Foto</label>
		    <input type="file" id="foto" name="foto"><br><br>

		    <label for="descripcion">Descripción del Proyecto:</label><br>
		   <textarea id="detalles_proyecto" name="detalles_proyecto" rows="4" cols="50"></textarea><br><br>

		   <label for="autores">Autores:</label>
		  <input type="text" id="autores" name="autores" ><br><br>


		  <input type="submit" value="Subir proyecto">
		</form>

		
	</form>

</body>
</html>