<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/resultadosadmi.css">
    <title>Resultados de buslinqueda</title>
</head>
<body>
</div>

<div class="container">
    <div class="header">
      <h1>Resultados de búsqueda</h1>
      <button><a href="/inicioadmi">Volver a inicio</a></button>
    </div>

    <div class="search-form">
      <form action="/buscaralumnos" method="post">
        <input type="text" name="nombre" placeholder="Nombre del alumno">
        <button type="submit">Buscar</button>
      </form>
    </div>

    <div class="search-results">
      <table>
        <thead>
          <tr>
            <th>Alumno</th>
            <th>No. de control</th>
            <th>Correo</th>
          </tr>
        </thead>
        <tbody>
          <% rows.forEach(alumno => { %>
          <tr>
            <td><%= alumno.nombre %></td>
            <td><%= alumno.Num_control %></td>
            <td><%= alumno.correo_electronico %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
</body>
</html>