/* Estilos generales */
body {
  background-image: url('/public/imagenes/login4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: opacity(0.9);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  position: relative;
}

.login-container {
  width: 400px;
  margin: 100px auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  filter: opacity(0.9);
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 150px;
}

.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: flex;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-group label i {
  margin-right: 15px;
  padding: 8px;
  background-color: #f1f1f1;
  border-radius: 4px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 9px;
  background-color: #311f8b;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;

}

button:hover {
  background-color: #5b80bb;
}
.register-link {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #666;
}

.register-link a {
  color: #666;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.input-box {
  margin-bottom: 20px;
}

.input-box label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-box select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
